<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kvnb.hostelservicemanagement">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wecare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wecare"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".VideoChat"  android:parentActivityName=".ParentActivity"></activity>
        <activity android:name=".Doctor"  android:parentActivityName=".ParentActivity" />
        <activity android:name=".GroupChat"  android:parentActivityName=".ParentActivity" />
        <activity android:name=".CreateGroup"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".Groups"  android:parentActivityName=".ParentActivity" />
        <activity android:name=".StepCounter"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".ChatActivity"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".MainActivity"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".SignInActivity"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".HeartRateMonitor"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".DetailsActivity"  android:parentActivityName=".ParentActivity"/>
        <activity android:name=".RegisterActivity"  android:parentActivityName=".ParentActivity"/>
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kvnb.hostelservicemanagement.MainActivity" />
        </activity>
        <activity
            android:name=".AppSettings"
            android:parentActivityName=".ParentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kvnb.hostelservicemanagement.ParentActivity" />
        </activity>
        <activity
            android:name=".ProfileSetting"
            android:label="@string/title_activity_profile_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ParentActivity"
            android:label="@string/title_activity_parent"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>